@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;800&family=Fraunces:opsz,wght@9..144,300;9..144,400;9..144,500;9..144,700;9..144,800;9..144,900&display=swap');

body{
  margin: 0px;
}

*{
  box-sizing: border-box;
}

.home-page-container{
  width: 100vw;
  height: 100vh;
  background-image: url("../public/images/desktop/image-header.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 30px;
}

.navbar-container{
  height: 100px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 40px 0px 40px;
}

.logo{
  margin-top: auto;
  margin-bottom: auto;
  width: 200px;
  height: 40px;
}

.logo:hover{
  cursor: pointer;
}

.navbar-contents-container{
  display: flex;
  flex-direction: row;
}

.navbar-items-container{
  list-style: none;
  display: flex;
  flex-direction: row;
}

.navbar-item{
  margin-right: 40px;
  margin-top: auto;
  margin-bottom: auto;
}

.navbar-links{
  font-family: 'Barlow';
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
  padding-bottom: 10px;
}

.navbar-links:hover{
  font-size: 22px;
  border-bottom: 5px solid #ffffff;
}

.contact-button{
  width: 150px;
  height: 60px;
  font-family: 'Fraunces';
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 30px;
  margin-top: auto;
  margin-bottom: auto;
  border: none;
  font-size: 18px;
  color: #ffffff;
  background-color: rgb(130, 220, 243);
}

.contact-button:hover{
  transform: scale(1.1);
  background-color: rgb(168, 222, 236);
  cursor: pointer;
}

.home-page-title{
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 60px;
  color: #ffffff;
  letter-spacing: 10px;
  text-align: center;
  margin-top: 80px;
}

.arrow-down{
  margin-left: 49%;
  height: 150px;
  margin-top: 80px;
  animation: 0.75s arrow-animation ease-in infinite;
}



@keyframes arrow-animation{
  20%{
    transform: translateY(10%);
  }

  40%{
    transform: translateY(20%);
  }

  60%{
    transform: translateY(30%);
  }

  80%{
    transform: translateY(40%);
  }

  100%{
    transform: translateY(50%);
  }
}




.about-page-container{
  display: flex;
  flex-direction: row;
  width: 100vw;
  margin: 0px;
  padding: 0px;
}

.about-page-text-container{
  width: 50vw;
  padding: 20px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0px;
  margin-right: 0px;
}

.about-page-text-c-inner{
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}

.about-page-heading{
  font-family: "Fraunces";
  color: hsl(212, 27%, 19%);
  font-size: 50px;
  font-weight: 900;
  word-break: break-word;
}

.about-page-para{
  font-family: "Barlow";
  color: hsl(232, 10%, 55%);
  font-size: 18px;
  font-weight: 400;
}

.learn-more-button{
  text-decoration: none;
  font-size: 18px;
  font-family: "Fraunces";
  font-weight: 700;
  color: hsl(213, 9%, 39%);
  text-transform: uppercase;
}

.learn-more-button:hover{
  font-size: 20px;
  border-bottom: 7px solid yellow;
}

.about-page-image{
  width: 50vw;
}







.services-main-container{
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.services-conatiner{
  display: flex;
  flex-direction: column;
  width: 50vw;
  background-size: cover;
  height: 600px;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  background-position: center;
}

.services-text-container{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5rem;
}

.project-heading{
  font-family: "Fraunces";
  font-size: 40px;
  font-weight: 900;
  line-height: 2.2rem;
}

.project-para{
  font-family: "Barlow";
  font-size: 18px;
  font-weight: 600;
}







.projects-main-container{
  width: 100vw;
  height: 90vh;
  padding-top: 120px;
  padding-left: 50px;
  padding-right: 50px;
}

.projects-heading{
  text-align: center;
  font-family: "Fraunces";
  font-size: 25px;
  font-weight: 900;
  text-transform: uppercase;
  color: hsl(210, 4%, 67%);
  letter-spacing: 5px;
}


.all-clients-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: 90px;
}

.client-testimonial-container{
  width: 22%;
  margin-left: 30px;
  margin-right: 30px;
}

.client-image{
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin-bottom: 30px;
}

.client-para{
  font-size: 16px;
  font-family: "Barlow";
  font-weight: 600;
  line-height: 1.7rem;
  color: hsl(213, 9%, 39%);
}

.client-details-container{
  text-align: center;
  margin-top: 40px;
}

.client-name{
  margin:0px;
  font-family: "Fraunces";
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 10px;
  color: hsl(212, 27%, 19%);
}

.client-position{
  margin:0px;
  font-family: "Barlow";
  font-size: 14px;
  font-weight: 600;
  color: hsl(210, 4%, 67%);
}





.images-container{
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.product-image{
  width: 25vw;
}






.footer-container{
  height: 50vh;
  width: 100vw;
  background-color: hsl(167, 58%, 72%);
  position: relative;
}

.footer-logo{
  height: 30px;
  position: absolute;
  top:35%;
  left: 50%;
  transform: translateX(-50%);
}

.footer-logo{
  cursor: pointer;
}

.footer-items-container{
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-item{
  margin-left: 20px;
  margin-right: 20px;
}

.footer-links{
  text-decoration: none;
  font-family: "Barlow";
  font-size: 18px;
  font-weight: 600;
  color: hsl(168, 34%, 41%);
}

.footer-links:hover{
  font-size: 20px;
  color: #ffffff;
}

.social-media-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
}

.social-media-icon{
  margin-left: 15px;
  margin-right: 15px;
  font-size: 30px;
  color: hsl(168, 35%, 30%);
}

.social-media-icon:hover{
  cursor: pointer;
  color: #ffffff;
  font-size: 33px;
}