@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;800&family=Fraunces:opsz,wght@9..144,300;9..144,400;9..144,500;9..144,700;9..144,800;9..144,900&display=swap');

body{
  margin: 0px;
}

*{
  box-sizing: border-box;
}

.home-page-container{
  width: 100vw;
  height: 100vh;
  background-image: url("../public/images/desktop/image-header.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 30px;
}

.navbar-container{
  height: 100px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 40px 0px 40px;
}

.logo{
  margin-top: auto;
  margin-bottom: auto;
  width: 200px;
  height: 40px;
}

.navbar-contents-container{
  display: flex;
  flex-direction: row;
}

.navbar-items-container{
  list-style: none;
  display: flex;
  flex-direction: row;
}

.navbar-item{
  font-family: 'Barlow';
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  margin-right: 50px;
  margin-top: auto;
  margin-bottom: auto;
}

.contact-button{
  width: 150px;
  height: 60px;
  font-family: 'Fraunces';
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 30px;
  margin-top: auto;
  margin-bottom: auto;
  border: none;
  font-size: 18px;
  color: #ffffff;
  background-color: rgb(130, 220, 243);
}

.home-page-title{
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 60px;
  color: #ffffff;
  letter-spacing: 10px;
  text-align: center;
  margin-top: 80px;
}

.arrow-down{
  margin-left: 49%;
  height: 150px;
  margin-top: 80px;
}






.about-page-container{
  display: flex;
  flex-direction: row;
  width: 100vw;
  margin: 0px;
  padding: 0px;
}

.about-page-text-container{
  width: 49vw;
  padding: 40px 160px 40px 160px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0px;
  margin-right: 0px;
}

.about-page-heading{
  font-family: "Fraunces";
  color: hsl(212, 27%, 19%);
  font-size: 50px;
  font-weight: 900;
  word-break: break-word;
}

.about-page-para{
  font-family: "Barlow";
  color: hsl(232, 10%, 55%);
  font-size: 18px;
  font-weight: 400;
}

.learn-more-button{
  text-decoration: none;
  font-size: 18px;
  font-family: "Fraunces";
  font-weight: 700;
  color: hsl(213, 9%, 39%);
  text-transform: uppercase;
}

.about-page-image{
  width: 50vw;
}







.services-main-container{
  display: flex;
  flex-direction: row;
}

.services-conatiner{
  width: 49vw;
  background-size: cover;
  height: 600px;
  border: 1px solid red;
}